body	{font-family: family:verdana, Centaur, "Century Gothic";
		font-size: 15pt;}
		
p		{margin-left: 15pt;
		margin-right: 5pt;}
		
.boldword	{color: #030a24; 
			font-weight: bolder;}

img		{border-color: transparent;}

li.navlist	{display: inline; 
			list-style-type: none;}
			
a			{text-decoration: none;
			color: #030a24;}
		
a:hover		{background: #030a24; 
			color: #d0a4bb;
			/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: center;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.centerTable { margin: 8px auto; }

